#tableRoot {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  transition: all ease-in-out 0.5s;
}

#tableRoot:hover {
  box-shadow: 20px 16px 44px -16px rgba(101, 101, 102, 1);
}

table {
  width: 100%;
  border-spacing: 0px;
  overflow-wrap: break-word;
  vertical-align: middle;
}

td {
  border: 1px solid rgb(150, 150, 150);
  border-collapse: collapse;
  text-align: left;
  padding: 5px;
  height: 40px;
}

td:first-child {
  background-color: #f6f6f6;
  color: black;
}

td:nth-child(2) {
  color: rgb(111, 111, 111);
}
